* {
	box-sizing: border-box;
}

body {
	background: #0f001e;
	color: white;
	text-align: center;
	overflow-x: hidden;
	width: 200%;
	margin-left: -50%;
}

h2 {
	font-family: 'Quicksand', monospace;
	font-weight: normal;
}

#top {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

#sun {
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 50%;
	margin: 0 auto;
	width: 100%;
	padding-bottom: 100%;
	background: #ff8a3c;
	margin-bottom: 100px;
}

#solar-system {
	margin-top: calc(-100% + 100px);
}

.orbit {
	width: 100%;
	height: 200px;
}

.planet {
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 50%;
	margin: 0 auto;
	top: 50%;
	position: relative;
	z-index: 1;
	transition: transform 0.2s;
}

.planet:hover {
	transform: translate(0, -50%) !important;
}

.planet-surface {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
}

.planet-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(315deg, #0f001e 0%, #0f001e 50%, transparent 50%);
	z-index: 5;
	opacity: 0.9;
	transition: top 0.5s, left 0.5s;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.path-container {
	position: absolute;
	width: 200%;
	padding-bottom: 100%;
	margin-top: calc(-100% + 100px);
	opacity: 0.25;
	overflow: hidden;
}

.path {
	position: absolute;
	width: 100%;
	height: 200%;
	top: -100%;
	border-radius: 50%;
	border: 2px solid white;
	/*animation: spin 500s linear infinite;*/
	z-index: 6;
}

.uncleared .path-container {
	transform: translate(0, 5px);
}

.uncleared .path {
	border: 10px solid white;
	opacity: 0.25;
}

#mercury {
	transform: translate(0, -50%) scale(0.2);
	background: #9b8990;
}

#venus {
	transform: translate(0, -50%) scale(0.4);
}

#earth {
	transform: translate(0, -50%) scale(0.4);
	background: #2b84e6;
}

#mars {
	transform: translate(0, -50%) scale(0.3);
	background: #974c6d;
}

#ceres {
	transform: translate(0, -50%) scale(0.2);
	background: #9b918b;
}

#jupiter {
	transform: translate(0, -50%) scale(1.52);
	background: #cb9d7c;
}

#jupiter:hover {
	transform: translate(0, -50%) scale(1.6) !important;
}

#saturn {
	transform: translate(0, -50%) scale(1.2);
	background: #dcba7f;
}

#saturn:hover {
	transform: translate(0, -50%) scale(1.52) !important;
}

#uranus {
	transform: translate(0, -50%) scale(0.6);
	background: #87cce0;
}

#neptune {
	transform: translate(0, -50%) scale(0.6);
	background: #0f5aff;
}

#pluto {
	transform: translate(0, -50%) scale(0.2);
	background: #bc9d8a;
}

#haumea {
	transform: translate(0, -50%) scale(0.2);
	background: #a9b7c1;
}

#makemake {
	transform: translate(0, -50%) scale(0.2);
}

#eris {
	transform: translate(0, -50%) scale(0.2);
}

@keyframes planetrotationcounterclockwise {
	from {
		left: -200%;
	}
	to {
		left: 0;
	}
}

@keyframes planetrotationclockwise {
	from {
		left: 0;
	}
	to {
		left: -200%;
	}
}

.surface-container {
	position: absolute;
	width: 400%;
	height: 100%;
	top: 0;
	left: 0;
	animation: planetrotationcounterclockwise 2.5s linear infinite;
}

#venus .surface-container {
	animation-name: planetrotationclockwise;
}

.surface {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.surface:nth-child(2) {
	left: 50%;
}

.clouds-container {
	position: absolute;
	width: 400%;
	height: 100%;
	top: 0;
	left: 0;
	animation: planetrotationcounterclockwise 5s linear infinite;
}

.clouds {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.clouds:nth-child(2) {
	left: 50%;
}

.crater, .spot {
	border-radius: 50%;
	position: absolute;
}

.line {
	position: absolute;
}

.landmass {
	transform: rotate(45deg);
	width: 15%;
	height: 30%;
	position: absolute;
}

.ice {
	transform: scale(3, 1) rotate(45deg);
}

.band {
	position: absolute;
	width: 200%;
}

/* ------------------- MERCURY ------------------- */

#mercury .surface .crater {
	background: #a3949b;
	z-index: 2;
}

#mercury .surface .line {
	background: #a3949b;
	z-index: 1;
}

#mercury .surface .crater:nth-child(1) {
	width: 10%;
	height: 20%;
	top: 10%;
	left: 20%;
}

#mercury .surface .crater:nth-child(2) {
	width: 15%;
	height: 30%;
	top: 60%;
	left: 10%;
}

#mercury .surface .crater:nth-child(3) {
	background: #9f8e94;
	width: 30%;
	height: 60%;
	top: -10%;
	left: 50%;
	z-index: 1;
}

#mercury .surface .crater:nth-child(4) {
	width: 10%;
	height: 20%;
	top: 30%;
	left: 50%;
}

#mercury .surface .crater:nth-child(5) {
	width: 10%;
	height: 20%;
	top: 60%;
	left: 90%;
}

#mercury .surface .line:nth-child(6) {
	width: 1%;
	height: 100%;
	left: 72%;
}

#mercury .surface .line:nth-child(7) {
	width: 1%;
	height: 200%;
	top: -50%;
	left: 72%;
	transform: rotate(45deg);
	transform-origin: 50% 55%;
}

#mercury .surface .line:nth-child(8) {
	background: #a3949b;
	width: 1%;
	height: 200%;
	top: -50%;
	left: 82%;
	transform: rotate(-13deg);
	transform-origin: 50% 62%;
}

#mercury .surface .crater:nth-child(9) {
	background: #aba2aa;
	width: 5%;
	height: 10%;
	top: 55%;
	left: 70%;
}

#mercury .surface .crater:nth-child(10) {
	background: #aba2aa;
	width: 5%;
	height: 10%;
	top: 70%;
	left: 80%;
}

#mercury .surface .line:nth-child(11) {
	background: #9f8e94;
	width: 1%;
	height: 200%;
	top: -50%;
	left: 20%;
	transform: rotate(10deg);
	transform-origin: 50% 20%;
}

#mercury .surface .line:nth-child(12) {
	background: #9f8e94;
	width: 1%;
	height: 200%;
	top: -50%;
	left: 30%;
	transform: rotate(-20deg);
	transform-origin: 50% 30%;
}

/* ------------------- VENUS ------------------- */

#venus .surface-container {
	transform: translate(-50%, 0);
}

#venus .surface:nth-child(1) {
	z-index: 2;
}

#venus .surface:nth-child(2) {
	z-index: 1;
}

#venus .surface .cloud {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	top: 0;
}

#venus .surface .cloud:nth-child(odd) {
	background: #eba86d;
}

#venus .surface .cloud:nth-child(even) {
	background: #d99d57;
}

#venus .surface .cloud:nth-child(1) {
	left: 90%;
}

#venus .surface .cloud:nth-child(2) {
	left: 80%;
}

#venus .surface .cloud:nth-child(3) {
	left: 70%;
}

#venus .surface .cloud:nth-child(4) {
	left: 60%;
}

#venus .surface .cloud:nth-child(5) {
	left: 50%;
}

#venus .surface .cloud:nth-child(6) {
	left: 40%;
}

#venus .surface .cloud:nth-child(7) {
	left: 30%;
}

#venus .surface .cloud:nth-child(8) {
	left: 20%;
}

#venus .surface .cloud:nth-child(9) {
	left: 10%;
}

#venus .surface .cloud:nth-child(10) {
	left: 0%;
}

/* ------------------- EARTH ------------------- */

#earth .surface .landmass {
	background: #42991e;
}

#earth .surface .ice {
	background: #a9c0de;
	top: 101%;
}

#earth .surface .landmass:nth-child(1) {
	left: 15%;
	top: 10%;
}

#earth .surface .landmass:nth-child(2) {
	left: 15%;
	top: 51%;
}

#earth .surface .landmass:nth-child(3) {
	left: 45%;
	top: 10%;
}

#earth .surface .landmass:nth-child(4) {
	left: 45%;
	top: 51%;
}

#earth .surface .landmass:nth-child(5) {
	left: 55%;
	top: 10%;
}

#earth .surface .landmass:nth-child(6) {
	left: 65%;
	top: 10%;
}

#earth .surface .landmass:nth-child(7) {
	left: 75%;
	top: 51%;
}

#earth .surface .landmass:nth-child(8) {
	left: 5%;
}

#earth .surface .landmass:nth-child(9) {
	left: 15%;
}

#earth .surface .landmass:nth-child(10) {
	left: 25%;
}

#earth .surface .landmass:nth-child(11) {
	left: 35%;
}

#earth .surface .landmass:nth-child(12) {
	left: 45%;
}

#earth .surface .landmass:nth-child(13) {
	left: 55%;
}

#earth .surface .landmass:nth-child(14) {
	left: 65%;
}

#earth .surface .landmass:nth-child(15) {
	left: 75%;
}

#earth .surface .landmass:nth-child(16) {
	left: 85%;
}

#earth .surface .landmass:nth-child(17) {
	left: 95%;
}

#earth .cloud, #earth .cloud::before, #earth .cloud::after {
	position: absolute;
	background: #a9c0de;
	content: '';
}

#earth .cloud {
	width: 10%;
	height: 20%;
	opacity: 0.8;
}

#earth .cloud::before, #earth .cloud::after {
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#earth .cloud::before {
	left: -50%;
}

#earth .cloud::after {
	right: -50%;
}

#earth .clouds .cloud:nth-child(1) {
	top: 20%;
	left: 12.5%;
}

#earth .clouds .cloud:nth-child(2) {
	top: 50%;
	left: 40%;
}

#earth .clouds .cloud:nth-child(3) {
	top: 60%;
	left: 27.5%;
}

#earth .clouds .cloud:nth-child(4) {
	top: 50%;
	left: -5%;
}

#earth .clouds .cloud:nth-child(5) {
	top: 5%;
	left: 40%;
}

#earth .clouds .cloud:nth-child(6) {
	top: 65%;
	left: 0%;
}

#earth .clouds .cloud:nth-child(7) {
	top: 30%;
	left: 65%;
}

/* ------------------- MARS ------------------- */

#mars .crater {
	background: #c25848;
}

#mars .line {
	background: #974c6d;
}

#mars .ice {
	background: #e3a6b0;
	top: -27%;
	z-index: 1;
}

#mars .surface .ice:nth-child(1) {
	left: 0%;
}

#mars .surface .ice:nth-child(2) {
	left: 10%;
}

#mars .surface .ice:nth-child(3) {
	left: 20%;
}

#mars .surface .ice:nth-child(4) {
	left: 30%;
}

#mars .surface .ice:nth-child(5) {
	left: 40%;
}

#mars .surface .ice:nth-child(6) {
	left: 50%;
}

#mars .surface .ice:nth-child(7) {
	left: 60%;
}

#mars .surface .ice:nth-child(8) {
	left: 70%;
}

#mars .surface .ice:nth-child(9) {
	left: 80%;
}

#mars .surface .ice:nth-child(10) {
	left: 90%;
}

#mars .surface .crater:nth-child(11) {
	left: 0%;
	top: -25%;
	height: 100%;
	width: 50%;
}

#mars .surface .crater:nth-child(12) {
	left: 40%;
	top: 0%;
	height: 50%;
	width: 25%;
}

#mars .surface .crater:nth-child(13) {
	left: 60%;
	top: 30%;
	height: 30%;
	width: 15%;
}

#mars .surface .crater:nth-child(14) {
	left: 50%;
	top: -60%;
	height: 100%;
	width: 50%;
}

#mars .surface .crater:nth-child(15) {
	left: -15%;
	top: 10%;
	height: 50%;
	width: 25%;
}

#mars .surface .crater:nth-child(16) {
	left: 35%;
	top: 75%;
	height: 16%;
	width: 8%;
}

#mars .surface .crater:nth-child(17) {
	left: 73%;
	top: 61%;
	height: 26%;
	width: 13%;
}

#mars .surface .crater:nth-child(18) {
	left: -8%;
	top: 0%;
	height: 26%;
	width: 13%;
}

#mars .surface .crater:nth-child(19) {
	background: #974c6d !important;
	left: 30%;
	top: 55%;
	height: 10%;
	width: 5%;
}

#mars .surface .line:nth-child(20) {
	width: 25%;
	height: 4%;
	top: 58%;
	left: 20%;
}

/* ------------------- CERES ------------------- */

#ceres .crater {
	background: #88929d;
}

#ceres .surface .crater:nth-child(1) {
	left: 10%;
	top: 20%;
	width: 10%;
	height: 20%;
}

#ceres .surface .crater:nth-child(2) {
	left: 25%;
	top: 25%;
	width: 10%;
	height: 20%;
}

#ceres .surface .crater:nth-child(3) {
	left: 40%;
	top: 35%;
	width: 15%;
	height: 30%;
}

#ceres .surface .crater:nth-child(4) {
	background: #9ca8af !important;
	left: 45%;
	top: 80%;
	width: 10%;
	height: 20%;
}

#ceres .surface .crater:nth-child(5) {
	left: 55%;
	top: 65%;
	width: 10%;
	height: 20%;
}

#ceres .surface .crater:nth-child(6) {
	left: 0%;
	top: 40%;
	width: 10%;
	height: 20%;
}

#ceres .surface .crater:nth-child(7) {
	background: #76849a !important;
	left: 70%;
	top: 30%;
	width: 15%;
	height: 30%;
}

#ceres .surface .crater:nth-child(8) {
	background: #ccd6d8 !important;
	left: 76%;
	top: 41%;
	width: 4%;
	height: 8%;
}

#ceres .surface .crater:nth-child(9) {
	background: #ccd6d8 !important;
	left: 80%;
	top: 41%;
	width: 4%;
	height: 8%;
}

#ceres .surface .crater:nth-child(10) {
	background: #9ca8af !important;
	left: 3%;
	top: 46%;
	width: 4%;
	height: 8%;
}

/* ------------------- JUPITER ------------------- */

#jupiter .surface .spot:nth-child(1) {
	top: 60%;
	left: 45%;
	width: 5%;
	height: 10%;
	background: #cb9d7c;
	z-index: 2;
	border-radius: 0;
}

#jupiter .surface .spot:nth-child(1)::before,
#jupiter .surface .spot:nth-child(1)::after {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #cb9d7c;
	border-radius: 50%;
	top: 0;
	content: '';
}

#jupiter .surface .spot:nth-child(1)::before {
	left: -50%;
}

#jupiter .surface .spot:nth-child(1)::after {
	right: -50%;
}

#jupiter .surface .spot:nth-child(2) {
	top: 60%;
	left: 45%;
	width: 5%;
	height: 10%;
	background: #be534f;
	z-index: 2;
}

#jupiter .surface .band:nth-child(3) {
	background: repeating-linear-gradient(45deg, #d0aa90 3%, #cb9d7c 10%);
	top: 15%;
	height: 10%;
}

#jupiter .surface .band:nth-child(4) {
	background: repeating-linear-gradient(135deg, #d2cfd5 3%, #d0aa90 10%);
	top: 25%;
	height: 10%;
}

#jupiter .surface .band:nth-child(5) {
	background: repeating-linear-gradient(45deg, #be534f 3%, #c57865 10%);
	top: 35%;
	height: 10%;
}

#jupiter .surface .band:nth-child(6) {
	background: repeating-linear-gradient(135deg, #95a2a9 3%, #d2cfd5 10%);
	top: 45%;
	height: 10%;
}

#jupiter .surface .band:nth-child(7) {
	background: repeating-linear-gradient(45deg, #be534f 3%, #c57865 10%);
	top: 55%;
	height: 10%;
}

#jupiter .surface .band:nth-child(8) {
	background: repeating-linear-gradient(135deg, #d2cfd5 3%, #d0aa90 10%);
	top: 65%;
	height: 10%;
}

#jupiter .surface .band:nth-child(9) {
	background: repeating-linear-gradient(45deg, #d0aa90 3%, #cb9d7c 10%);
	top: 75%;
	height: 10%;
}

/* ------------------- SATURN ------------------- */

#saturn .band:nth-child(1) {
	height: 20%;
	top: 0;
	background: repeating-linear-gradient(135deg, #969382 2%, #b4a780 10%);
}

#saturn .band:nth-child(2) {
	height: 20%;
	bottom: 0;
	background: repeating-linear-gradient(45deg, #bd9988 2%, #b4a780 10%);
}

#saturn .band:nth-child(3) {
	height: 20%;
	top: 20%;
	background: repeating-linear-gradient(45deg, #b4a780 2%, #dcba7f 10%);
}

#saturn .band:nth-child(4) {
	height: 20%;
	bottom: 20%;
	background: repeating-linear-gradient(135deg, #dcba7f 2%, #cda288 10%);
}

/* ------------------- URANUS ------------------- */

#uranus .line {
	z-index: 1;
	background: #c6ebf4;
	height: 3%;
	top: 40%;
}

#uranus .surface .line:nth-child(1) {
	left: 15%;
	width: 10%;
}

#uranus .surface .line:nth-child(2) {
	left: 80%;
	width: 7%;
}

#uranus .surface .line:nth-child(3) {
	background: #7cb7c5;
	top: 18%;
	left: 40%;
	width: 15%;
	height: 4%;
}

#uranus .band {
	height: 20%;
}

#uranus .surface .band:nth-child(4) {
	top: 0;
	background: repeating-linear-gradient(135deg, #87cce0 2%, #88bcc1 10%);
}

#uranus .surface .band:nth-child(5) {
	bottom: 0;
	background: repeating-linear-gradient(45deg, #87cce0 2%, #88bcc1 10%);
}

/* ------------------- NEPTUNE ------------------- */

#neptune .surface .spot:nth-child(1) {
	top: 55%;
	left: 50%;
	width: 10%;
	height: 10%;
	background: #0f4ee0;
	z-index: 2;
	border-radius: 25% / 50%;
	transform: translate(-25%, 0);
}

#neptune .surface .spot:nth-child(2) {
	top: 55%;
	left: 50%;
	width: 5%;
	height: 10%;
	background: linear-gradient(45deg, #b9cfff 0%, #b9cfff 45%, #0f47cf 45%);
	z-index: 2;
}

#neptune .band {
	height: 20%;
}

#neptune .surface .band:nth-child(3) {
	background: repeating-linear-gradient(135deg, #0f4ee0 2%, #0f5aff 10%);
	top: 0;
}

#neptune .surface .band:nth-child(4) {
	background: repeating-linear-gradient(45deg, #0f4ee0 2%, #0f5aff 10%);
	bottom: 0;
}

#neptune .surface .band:nth-child(5) {
	background: repeating-linear-gradient(45deg, #0f5aff 2%, #0f47cf 10%);
	top: 20%;
}

#neptune .surface .band:nth-child(6) {
	background: repeating-linear-gradient(135deg, #0f5aff 2%, #0f47cf 10%);
	bottom: 20%;
}

#neptune .surface .band:nth-child(7) {
	background: repeating-linear-gradient(45deg, #5288ff 2%, #0f5aff 10%);
	top: 30%;
	transform: translate(-11%, 0);
}

#neptune .surface .band:nth-child(8) {
	background: repeating-linear-gradient(135deg, #5288ff 2%, #0f5aff 10%);
	bottom: 30%;
	transform: translate(-11%, 0);
}

#neptune .surface .band:nth-child(9) {
	background: #0f5aff;
	top: 40%;
}

/* ------------------- PLUTO ------------------- */

#pluto .crater {
	background: #a58275;
}

#pluto .crater:nth-child(1) {
	top: 30%;
	left: 10%;
	height: 20%;
	width: 10%;
}

#pluto .crater:nth-child(2) {
	top: 25%;
	left: 15%;
	height: 30%;
	width: 15%;
}

#pluto .crater:nth-child(3) {
	top: 45%;
	left: 40%;
	height: 20%;
	width: 10%;
}

#pluto .crater:nth-child(4) {
	top: 40%;
	left: 48%;
	height: 24%;
	width: 12%;
}

#pluto .crater:nth-child(5) {
	top: 58%;
	left: 60%;
	height: 20%;
	width: 10%;
}

#pluto .crater:nth-child(6) {
	top: 50%;
	left: 68%;
	height: 20%;
	width: 10%;
}

#pluto .crater:nth-child(7) {
	top: 43%;
	left: 75%;
	height: 30%;
	width: 15%;
}

#pluto .crater:nth-child(8) {
	top: 45%;
	left: 93%;
	height: 22%;
	width: 11%;
}

#pluto .crater:nth-child(9) {
	top: 58%;
	left: 6%;
	height: 18%;
	width: 9%;
}

#pluto .crater:nth-child(10) {
	background: #774959;
	top: 40%;
	left: 5%;
	height: 20%;
	width: 20%;
	border-radius: 25% / 50%;
}

#pluto .crater:nth-child(11) {
	background: #774959;
	top: 48%;
	left: 0%;
	height: 10%;
	width: 10%;
	border-radius: 25% / 50%;
}

#pluto .crater:nth-child(12) {
	background: #774959;
	top: 60%;
	left: 32%;
	height: 15%;
	width: 15%;
	border-radius: 25% / 50%;
}

#pluto .crater:nth-child(13) {
	background: #beb1b0;
	top: 25%;
	left: 20%;
	height: 30%;
	width: 15%;
}

#pluto .crater:nth-child(14) {
	background: #beb1b0;
	top: 35%;
	left: 30%;
	height: 30%;
	width: 15%;
}

#pluto .crater:nth-child(15) {
	background: #beb1b0;
	top: 50%;
	left: 25%;
	height: 20%;
	width: 10%;
}

/* ------------------- HAUMEA ------------------- */

#haumea {
	width: 114px;
	height: 76px;
	border-radius: 38px;
}

#haumea .spot:nth-child(1) {
	background: #a3919d;
	top: 22%;
	left: 2%;
	width: 15%;
	height: 45%;
}

#haumea .spot:nth-child(2) {
	background: #a3919d;
	top: 42%;
	left: 15%;
	width: 15%;
	height: 45%;
}

#haumea .spot:nth-child(3) {
	background: #9c6b79;
	top: 20%;
	left: 6%;
	width: 20%;
	height: 60%;
}

#haumea .crater {
	background: #b5c0c9;
}

#haumea .crater:nth-child(4) {
	top: -5%;
	left: 50%;
	width: 10%;
	height: 30%;
}

#haumea .crater:nth-child(5) {
	top: 3%;
	left: 60%;
	width: 8%;
	height: 24%;
}

#haumea .crater:nth-child(6) {
	top: 5%;
	left: 80%;
	width: 10%;
	height: 30%;
}

#haumea .crater:nth-child(7) {
	top: 7%;
	left: 24%;
	width: 7%;
	height: 21%;
}

#haumea .crater:nth-child(8) {
	bottom: 0%;
	left: 30%;
	width: 10%;
	height: 30%;
}

#haumea .crater:nth-child(9) {
	bottom: -15%;
	left: 35%;
	width: 10%;
	height: 30%;
}

#haumea .crater:nth-child(10) {
	top: 50%;
	left: 65%;
	width: 15%;
	height: 45%;
}