* {
	box-sizing: border-box;
}

body {
	background: #0f001e;
	color: white;
	text-align: center;
	overflow-x: hidden;
	width: 200%;
	margin-left: -50%;
}

h2 {
	font-family: 'Quicksand', monospace;
	font-weight: normal;
}

#top {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

#solar-system {
	margin-top: calc(-100% + 100px);
}

.orbit {
	width: 100%;
	height: 200px;
}

.planet, #sun {
	width: 100px;
	height: 100px;
	background: white;
	display: block;
	border-radius: 50%;
	margin: 0 auto;
}

#sun {
	width: 100%;
	padding-bottom: 100%;
	background: #ff8a3c;
	margin-bottom: 100px;
}

.planet {
	top: 50%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.planet:hover {
	transform: translate(0, -50%) !important;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.path-container {
	position: absolute;
	width: 200%;
	padding-bottom: 100%;
	margin-top: calc(-100% + 100px);
	opacity: 0.25;
	overflow: hidden;
}

.path {
	position: absolute;
	width: 100%;
	height: 200%;
	top: -100%;
	border-radius: 50%;
	border: 2px solid white;
	/*animation: spin 500s linear infinite;*/
}

.uncleared .path-container {
	transform: translate(0, 5px);
}

.uncleared .path {
	border: 10px solid white;
	opacity: 0.25;
}

#mercury {
	transform: translate(0, -50%) scale(0.2);
	background: #9b8990;
}

#venus {
	transform: translate(0, -50%) scale(0.4);
	background: #d99d57;
}

#earth {
	transform: translate(0, -50%) scale(0.4);
	background: #2b84e6;
}

#mars {
	transform: translate(0, -50%) scale(0.3);
	background: #974c6d;
}

#ceres {
	transform: translate(0, -50%) scale(0.2);
}

#jupiter {
	transform: translate(0, -50%) scale(1.5);
}

#jupiter:hover {
	transform: translate(0, -50%) scale(1.6) !important;
}

#saturn {
	transform: translate(0, -50%) scale(1.2);
}

#saturn:hover {
	transform: translate(0, -50%) scale(1.5) !important;
}

#uranus {
	transform: translate(0, -50%) scale(0.6);
}

#neptune {
	transform: translate(0, -50%) scale(0.6);
}

#pluto {
	transform: translate(0, -50%) scale(0.2);
}

#haumea {
	transform: translate(0, -50%) scale(0.2);
}

#makemake {
	transform: translate(0, -50%) scale(0.2);
}

#eris {
	transform: translate(0, -50%) scale(0.2);
}

@keyframes planetrotationcounterclockwise {
	from {
		left: -200%;
	}
	to {
		left: 0;
	}
}

@keyframes planetrotationclockwise {
	from {
		left: 0;
	}
	to {
		left: -200%;
	}
}

.surface-container {
	position: absolute;
	width: 400%;
	height: 100%;
	top: 0;
	left: 0;
	animation: planetrotationcounterclockwise 2.5s linear infinite;
}

#venus .surface-container {
	animation-name: planetrotationclockwise;
}

.surface {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.surface:nth-child(2) {
	left: 50%;
}

.clouds-container {
	position: absolute;
	width: 400%;
	height: 100%;
	top: 0;
	left: 0;
	animation: planetrotationcounterclockwise 5s linear infinite;
}

.clouds {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.clouds:nth-child(2) {
	left: 50%;
}

.crater {
	border-radius: 50%;
	position: absolute;
}

.line {
	position: absolute;
}

.landmass {
	transform: rotate(45deg);
	width: 15%;
	height: 30%;
	position: absolute;
}

.ice {
	transform: scale(3, 1) rotate(45deg);
}

/* ------------------- MERCURY ------------------- */

#mercury .surface .crater {
	background: #a3949b;
	z-index: 2;
}

#mercury .surface .line {
	background: #a3949b;
	z-index: 1;
}

#mercury .surface .crater:nth-child(1) {
	width: 10%;
	height: 20%;
	top: 10%;
	left: 20%;
}

#mercury .surface .crater:nth-child(2) {
	width: 15%;
	height: 30%;
	top: 60%;
	left: 10%;
}

#mercury .surface .crater:nth-child(3) {
	background: #9f8e94;
	width: 30%;
	height: 60%;
	top: -10%;
	left: 50%;
	z-index: 1;
}

#mercury .surface .crater:nth-child(4) {
	width: 10%;
	height: 20%;
	top: 30%;
	left: 50%;
}

#mercury .surface .crater:nth-child(5) {
	width: 10%;
	height: 20%;
	top: 60%;
	left: 90%;
}

#mercury .surface .line:nth-child(6) {
	width: 1%;
	height: 100%;
	left: 72%;
}

#mercury .surface .line:nth-child(7) {
	width: 1%;
	height: 200%;
	top: -50%;
	left: 72%;
	transform: rotate(45deg);
	transform-origin: 50% 55%;
}

#mercury .surface .line:nth-child(8) {
	background: #a3949b;
	width: 1%;
	height: 200%;
	top: -50%;
	left: 82%;
	transform: rotate(-13deg);
	transform-origin: 50% 62%;
}

#mercury .surface .crater:nth-child(9) {
	background: #aba2aa;
	width: 5%;
	height: 10%;
	top: 55%;
	left: 70%;
}

#mercury .surface .crater:nth-child(10) {
	background: #aba2aa;
	width: 5%;
	height: 10%;
	top: 70%;
	left: 80%;
}

#mercury .surface .line:nth-child(11) {
	background: #9f8e94;
	width: 1%;
	height: 200%;
	top: -50%;
	left: 20%;
	transform: rotate(10deg);
	transform-origin: 50% 20%;
}

#mercury .surface .line:nth-child(12) {
	background: #9f8e94;
	width: 1%;
	height: 200%;
	top: -50%;
	left: 30%;
	transform: rotate(-20deg);
	transform-origin: 50% 30%;
}

/* ------------------- VENUS ------------------- */

#venus .surface-container {
	transform: translate(-50%, 0);
}

#venus .surface:nth-child(1) {
	z-index: 2;
}

#venus .surface:nth-child(2) {
	z-index: 1;
}

#venus .surface .cloud {
	position: absolute;
	width: 100%;
	height: 100%;
	border-right: 20px solid;
	border-top: 20px solid;
	border-bottom: 20px solid;
	border-radius: 100%;
	top: 0;
}

#venus .surface .cloud:nth-child(odd) {
	border-color: #eba86d;
}

#venus .surface .cloud:nth-child(even) {
	border-color: #d99d57;
}

#venus .surface .cloud:nth-child(1) {
	left: 90%;
}

#venus .surface .cloud:nth-child(2) {
	left: 80%;
}

#venus .surface .cloud:nth-child(3) {
	left: 70%;
}

#venus .surface .cloud:nth-child(4) {
	left: 60%;
}

#venus .surface .cloud:nth-child(5) {
	left: 50%;
}

#venus .surface .cloud:nth-child(6) {
	left: 40%;
}

#venus .surface .cloud:nth-child(7) {
	left: 30%;
}

#venus .surface .cloud:nth-child(8) {
	left: 20%;
}

#venus .surface .cloud:nth-child(9) {
	left: 10%;
}

#venus .surface .cloud:nth-child(10) {
	left: 0%;
}

/* ------------------- EARTH ------------------- */

#earth .surface .landmass {
	background: #42991e;
}

#earth .surface .ice {
	background: #a9c0de;
	top: 101%;
}

#earth .surface .landmass:nth-child(1) {
	left: 15%;
	top: 10%;
}

#earth .surface .landmass:nth-child(2) {
	left: 15%;
	top: 51%;
}

#earth .surface .landmass:nth-child(3) {
	left: 45%;
	top: 10%;
}

#earth .surface .landmass:nth-child(4) {
	left: 45%;
	top: 51%;
}

#earth .surface .landmass:nth-child(5) {
	left: 55%;
	top: 10%;
}

#earth .surface .landmass:nth-child(6) {
	left: 65%;
	top: 10%;
}

#earth .surface .landmass:nth-child(7) {
	left: 75%;
	top: 51%;
}

#earth .surface .landmass:nth-child(8) {
	left: 5%;
}

#earth .surface .landmass:nth-child(9) {
	left: 15%;
}

#earth .surface .landmass:nth-child(10) {
	left: 25%;
}

#earth .surface .landmass:nth-child(11) {
	left: 35%;
}

#earth .surface .landmass:nth-child(12) {
	left: 45%;
}

#earth .surface .landmass:nth-child(13) {
	left: 55%;
}

#earth .surface .landmass:nth-child(14) {
	left: 65%;
}

#earth .surface .landmass:nth-child(15) {
	left: 75%;
}

#earth .surface .landmass:nth-child(16) {
	left: 85%;
}

#earth .surface .landmass:nth-child(17) {
	left: 95%;
}

#earth .cloud, #earth .cloud::before, #earth .cloud::after {
	position: absolute;
	background: #a9c0de;
	content: '';
}

#earth .cloud {
	width: 10%;
	height: 20%;
	opacity: 0.8;
}

#earth .cloud::before, #earth .cloud::after {
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#earth .cloud::before {
	left: -50%;
}

#earth .cloud::after {
	right: -50%;
}

#earth .clouds .cloud:nth-child(1) {
	top: 20%;
	left: 12.5%;
}

#earth .clouds .cloud:nth-child(2) {
	top: 50%;
	left: 40%;
}

#earth .clouds .cloud:nth-child(3) {
	top: 60%;
	left: 27.5%;
}

#earth .clouds .cloud:nth-child(4) {
	top: 50%;
	left: -5%;
}

#earth .clouds .cloud:nth-child(5) {
	top: 5%;
	left: 40%;
}

#earth .clouds .cloud:nth-child(6) {
	top: 65%;
	left: 0%;
}

#earth .clouds .cloud:nth-child(7) {
	top: 30%;
	left: 65%;
}

/* ------------------- MARS ------------------- */

#mars .crater {
	background: #c25848;
}

#mars .line {
	background: #974c6d;
}

#mars .ice {
	background: #e3a6b0;
	top: -27%;
	z-index: 1;
}

#mars .surface .ice:nth-child(1) {
	left: 0%;
}

#mars .surface .ice:nth-child(2) {
	left: 10%;
}

#mars .surface .ice:nth-child(3) {
	left: 20%;
}

#mars .surface .ice:nth-child(4) {
	left: 30%;
}

#mars .surface .ice:nth-child(5) {
	left: 40%;
}

#mars .surface .ice:nth-child(6) {
	left: 50%;
}

#mars .surface .ice:nth-child(7) {
	left: 60%;
}

#mars .surface .ice:nth-child(8) {
	left: 70%;
}

#mars .surface .ice:nth-child(9) {
	left: 80%;
}

#mars .surface .ice:nth-child(10) {
	left: 90%;
}

#mars .surface .crater:nth-child(11) {
	left: 0%;
	top: -25%;
	height: 100%;
	width: 50%;
}

#mars .surface .crater:nth-child(12) {
	left: 40%;
	top: 0%;
	height: 50%;
	width: 25%;
}

#mars .surface .crater:nth-child(13) {
	left: 60%;
	top: 30%;
	height: 30%;
	width: 15%;
}

#mars .surface .crater:nth-child(14) {
	left: 50%;
	top: -60%;
	height: 100%;
	width: 50%;
}

#mars .surface .crater:nth-child(15) {
	left: -15%;
	top: 10%;
	height: 50%;
	width: 25%;
}

#mars .surface .crater:nth-child(16) {
	left: 35%;
	top: 75%;
	height: 16%;
	width: 8%;
}

#mars .surface .crater:nth-child(17) {
	left: 73%;
	top: 61%;
	height: 26%;
	width: 13%;
}

#mars .surface .crater:nth-child(18) {
	left: -8%;
	top: 0%;
	height: 26%;
	width: 13%;
}

#mars .surface .crater:nth-child(19) {
	background: #974c6d !important;
	left: 30%;
	top: 55%;
	height: 10%;
	width: 5%;
}

#mars .surface .line:nth-child(20) {
	width: 25%;
	height: 4%;
	top: 58%;
	left: 20%;
}
